apiVersion: v1
kind: ServiceAccount
metadata:
  name: admin-sa
---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: admin-sa-token
  annotations:
    kubernetes.io/service-account.name: "admin-sa"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin-full-access
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: admin-sa
  namespace: default
