@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-pane,
.leaflet-top,
.leaflet-bottom,
.leaflet-control {
  z-index: auto !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  [data-kb-theme='dark'] {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-400;
  }

  body {
    @apply bg-gray-50 text-gray-950 dark:bg-gray-950 dark:text-gray-50;

    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  .insight-map-tile-layer {
    @apply dark:brightness-95 dark:contrast-75 dark:hue-rotate-180 dark:invert;
  }

  ::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-400 hover:bg-gray-500 dark:bg-gray-800 dark:hover:bg-gray-700;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
