@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-pane, .leaflet-top, .leaflet-bottom {
  z-index: auto !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  [data-kb-theme="dark"] {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-gray-50 text-gray-950;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}